html {
  height: 100vh;
  background-color: black;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0px;
}

body {
  color: aqua;
  justify-content: center;
  height: 100vh;
  width: 100vh;
  display: flex;
}

.content {
  display: flex;
  border: 1px solid black;
  justify-content: center;
  width: 100vh;
  align-items: center;
  flex-direction: column;
}

button {
  width: 50%;
  height: 50px;
  border-radius: 15px;
  background-color: blueviolet;
  color: white;
  font-size: 3ch;
  cursor: pointer;
}
button:hover {
  background-color: white;
  color: blueviolet;
}
